*{margin:0;padding:0;}
html,body{width:100%;height:100%;}
#wrap{width:100%;height:100%;}
.container{
    width:100%;
    height:100%;
    /* overflow:hidden; */
}
#videoDiv{
    width:100%;
    height:100%;
}
video{
    min-width:100%;
    min-height:100%;
}
